h1{
    color:orange;
    text-align: center;
}
body{
    background-color: bisque;
}
header{
    text-align: center;
    font-weight:800;
}
.list{
    text-align: center;
    
}
#foodDetail{
    text-align: center;
}


button{
    width: ;
}